* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
img {
  width: 120px;
  height: 100px;
}
body {
  width: 100vw;
  height: 100vh;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
}
header {
}
.nav__links {
  display: flex;
}
.nav__link {
  margin: 15px;
  text-decoration: none;
  color: inherit;
}
.nav__item {
  list-style: none;
}
a:hover {
  border-bottom: 4px solid white;
  padding-bottom: 10px;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #ed3937;
  height: 100px;
  font-weight: 700;
  font-size: 22px;
  text-transform: uppercase;
  border-bottom: 10px solid #b72f2f;
  overflow: hidden;
}
.header-bg {
  background: inherit;
  max-width: 100vw;
}
.header-img {
  position: absolute;
  width: auto;
  height: 60vh;
  bottom: 0;
  right: 0;
}
h2 {
  color: #b72f2f;
  font-size: 50px;
  font-family: "Retroking";
}
h3 {
  color: #7a7a7a;
  font-size: 30px;
  font-weight: 500;
}
.content-wrapper {
  margin: 50px;
}
.highlight {
  color: #ed3937;
}
.btn-touch {
  width: 200px;
  background: #ea5455;
  padding: 20px;
  border: none;
  margin-top: 30px;
  border-radius: 10px;
  font-size: 20px;
  color: #ffffff;
  font-weight: 500;
  box-shadow: 0 6px 10px rgb(0 0 0 / 25%);
  letter-spacing: 2px;
}
.btn-touch:hover {
  opacity: 0.7;
}
